<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
      <title>base.html</title>
    {% endblock  %}
</head>
<body>
     <!--{% block body_block %}
      <h1>welcome to base.html page</h1>
    {% endblock  %}-->
     <center><h1>hello world</h1></center>
     {% block content %}
           <center><h3>welocme to base.html</h3></center>
     {% endblock  %}

     
    
    
</body>
</html>